@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
$primaryDark: #0a558c;
$primaryLight: #b6e0fe;
$neutralDark: #243b53;
$neutralLight: #d9e2ec;
$support: #0e7c86;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background: $neutralDark;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

header {
  min-height: 10vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $primaryDark;

  h2 {
    font-size: 2rem;
    color: $neutralLight;
  }

  p {
    color: lighten($neutralLight, 90%);
  }
}

main {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 3rem auto;
  padding: 0 50px;
  justify-content: center;
  align-items: center;
  .appointment {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    border-radius: 2rem;
    min-height: 3vh;
    width: 100%;
    margin-bottom: 2rem;
    background: $primaryDark;
    .add {
      color: $support;
      font-size: 1.3rem;
      margin-right: 1rem;
      cursor: pointer;
    }
    h3 {
      font-size: 1.2rem;
      color: $neutralLight;
    }
  }

  form {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    input {
      font-family: inherit;
      font-size: 100%;
      width: 20%;
      margin-right: 2rem;
      padding: 0.5rem 0.75rem;
      outline: none;
      border: none;
      border-radius: 2rem;
    }
    input[type="date"] {
      color: gray;
    }

    label {
      margin-right: 1rem;
      font-weight: bold;
      color: lighten($neutralLight, 50%);
    }

    .btn {
      font-family: inherit;
      font-size: 100%;
      padding: 0.5rem 0.75rem;
      outline: none;
      border: none;
      border-radius: 2rem;
      background: $support;
      color: $neutralLight;
    }
    .msg {
      position: absolute;
      color: $neutralLight;
      right: 0;
      bottom: -150%;
      padding: 0.5rem 0.75rem;
    }
  }
}

//List item styling

.list-container {
  padding: 1rem 2rem;
  margin-top: 3rem;
  color: $primaryLight;
  border-bottom: 2px solid hsla(185, 81%, 29%, 0.4);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  h3 {
    color: rgb(255, 255, 255);
    font-weight: normal;
  }
  p {
    color: $neutralLight;
  }
  .remove {
    color: rgb(175, 92, 92);
  }
}
